* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: white;
  color: #333333;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.btn {
  background-color: #2563eb;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 10px 24px;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.2s;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
}
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-names {
  display: flex;
  gap: 32px; 
  font-weight: 500;
  color: #4b5563;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 20px;
  color: #111827;
}
.logo img {
  height: 30px;
}
.hero {
  position: relative;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('./assets/banner.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 70px;
  padding: 32px;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero-main {
  position: relative;
  color: white;
  max-width: 800px;
}
.hero h1 {
  font-size: 64px;
  margin-bottom: 24px;
}
.hero p {
  font-size: 20px;
  margin-bottom: 350px;
}
.speakers {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 32px;  
 
}
.speakers-parent {
 display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

}
.speaker-card {
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.speaker-card-image {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #e5e7eb;
}
.speaker-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.speaker-card span {
  display: inline-block;
  color: #2563eb;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
  margin-bottom: 5px;
}
.speaker-card-text {
  padding: 24px;
  text-align: left;
}
.speaker-card h3 {
  font-size: 20px;
  color: #111827;
  margin-bottom: 8px;
}
.speaker-card p {
  color: #6b7280;
  font-size: 14px;
}